/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}
.container{
    max-width: 1600px;
    margin: 0 auto;
}
.main-header{
    /* background-color: #ffffff; */
    width: 1600px;
    height: 92px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}
.main-header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* height: 100%; */
}
.main-header .container img{
    cursor: pointer;
    height: 60px;
}
.link-parent li{
    list-style: none;
    display: inline-grid;
    /* gap: 32px; */
}
.link-parent li a{
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    font-size: 16px;
    line-height: 152%;
    padding: 0 16px;
    /* gap: 32px; */
    transition: all 0.3s ease;
}
