/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

/* main header section styling start */
.container{
    max-width: 1600px;
    margin: auto;
}
.main-header{
    height: 92px;
}
.nav{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav img{
    margin-left: 120px;
}
.link-parent li{
    display: inline-block;
}
.link-parent a{
    text-decoration: none;
    color: #000;
    font-size: 16px;
    padding: 0 16px;
}
.submit{
    background: #30B868;
    color: #fff;
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    margin-right: 120px;
}

/* hero section styling start */
.hero-section{
    position: relative;
}
.hero-parent{
    position: relative;
    max-width: 1600px;
    height: 674px;
    margin: auto;
    text-align: center;
    padding-top: 140px;
}
.hero-parent img{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
}
.hero-parent > *{
    position: relative;
}

/* hero sub section 'text' styling start */
.highlight{
    background: #fff;
    color: #30B868;
    padding: 8px 18px;
    border-radius: 1000px;
    display: inline-block;
    margin-bottom: 16px;
    font-weight: 500;
}
.square{
    width: 16px;
    height: 16px;
    background: #30B868;
}
.txt-1{
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    color: #fff;
}
.txt-1 span{
    display: block;
    color: #30B868;
}
.txt-2{
    color: #fff;
    max-width: 1360px;
    margin: auto;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 24px;
}
.txt-2 span{
    font-weight: 400;
    color: #fff;
    display: block;
}
.btn-group{
    margin-top: 10px;
}
.btn{
    padding: 14px 28px;
    border-radius: 8px;
    font-size: 16px;
}
.btn-1{
    background: #30B868;
    color: #fff;
    border: none;
    font-weight: 600;
}
.btn-2{
    border: 1px solid #fff;
    margin-left: 16px;
    font-weight: 600;
    background: transparent;
    color: #fff;
}
